<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:title' content='Neil Tarar - Blog'/>
    <meta name="image" property="og:image" content="http://www.neil-tarar.com/static/images/thumbnail.png" />
    <meta property="og:type" content="website" />
    <meta property='og:url' content='http://www.neil-tarar.com'/>
    <!-- <link rel="image_src" href="../static/images/thumbnail.png"> -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>Neil Tarar - Blog</title>
</head>
<body class="container">
    <div class="my-main" id="main">
        <div class="wheel-box" id="wheelBox">
            <img class="spin" id="spin1" src="../static/images/wheel2.png" alt="gear wheel image 1">
            <img class="spin" id="spin2" src="../static/images/wheel3.png" alt="gear wheel image 2">
            <img class="spin" id="spin3" src="../static/images/wheel1.png" alt="gear wheel image 3">
            <img class="spin" id="spin4" src="../static/images/wheel4.png" alt="gear wheel image 3">
        </div>
    </div>
    <div class="banner"></div>
    <div class="my-title" id="title">
        <h1>UNDER CONSTRUCTION</h1>
        <h4>COMING SOON...</h4>
    </div>
    <div class="footer" id="links">
        <a href="mailto:aniltarar@gmail.com"><img class="gmail" src="../static/images/logos/gmail_logo.png" alt="gmail logo"></a>
        <a href="https://www.linkedin.com/in/neiltarar/"><img class="linkedin" id="linkedIn" src="../static/images/logos/linkedin_logo.png" alt="linkedin logo"></a>
    </div>
    <div class="banner"></div>
    <div class="my-main" id="main">
        <div class="wheel-box" id="wheelBox">
            <img class="spin" id="spin1" src="../static/images/wheel1.png" alt="gear wheel image 1">
            <img class="spin" id="spin2" src="../static/images/wheel2.png" alt="gear wheel image 2">
            <img class="spin" id="spin3" src="../static/images/wheel3.png" alt="gear wheel image 3">
            <img class="spin" id="spin4" src="../static/images/wheel4.png" alt="gear wheel image 3">
        </div>
    </div>
</body>
</html>
